#SpriteViewerApp {
  border: 1px; solid: #000;
}

#canvasBackground {
  border: 1px; solid: #000;
  position: absolute;
  top: 0;
  left: 0;
}
#canvasSprites {
  position: absolute;
  top: 0;
  left: 0;
}
#canvasInterface {
  position: absolute;
  top: 0;
  left: 0;
}
#widgetCoord {
  position: fixed;
  top: 0;
  right: 0;
}
#widgetFile {
  position: fixed;
  bottom: 0;
  right: 0;
}
.widget {
  width: 5em;
}
.widget > input {
  width: 100%;
}

